/* fonts */
@font-face {font-family: Penumbra; src: url('Penumbra-HalfSerif.ttf');} 
@font-face {font-family: Open Sans; src: url('OpenSans-Regular.ttf');} 

h1, h2, h3 {
	font-family: Penumbra;
}

body {
	font-family: Open Sans;
	margin-left: 20px;
}

.column {
	float: left;
	width: 50%;
	height: 100%
}

#column2 {
	padding-top: 50px;
	padding-bottom: 20px;
}
